<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/main.css">    
    <title>Chat</title>
</head>
<body>
    <!-- <h1 id="main-headline">Chat App</h1> -->

    <h1 class="maintag">ChatApp</h1>

    <main id="app">
        <section>
         
            <!-- rendering User name once they join the chat-->
            <div class="name-container">

            <!-- nickname box-->
            <div class="nickname-container">
                <div class="chatroom">
                <user>Hello</user>
                </div>
                <h2 class="nickname">Write your Nickname to get started:</h2>
                <input id="nickname" v-model="nickname" type="text" placeholder="Nickname?" class="nickname-box"> 

              
            </div>

            <div class="message_container">
                <h2 class="input">Type Your Message:</h2>
                <form>
                <label for="message">Something to say?</label>
                <textarea @focus="catchTextFocus" v-model="message" id="textarea" class="message" autocomplete="off"></textarea>
                <!-- handle user typing-->
                <p v-if="typing">{{ typist }}</p>
                <usertyping>typing</usertyping>
                <!-- handle user typing-->
                <input @click.prevent="dispatchMessage" type="submit" value="Send">
            </form>
            </div>
        </section>
        
        <section class="messages">
            <h2>Receive messages here:</h2>
            <ul id="messages">
                <!-- render a new message component for every message -->
                <newmsg v-for="message in messages" :message="message"></newmsg>
            </ul>
        </section>
       
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js" type="module" defer></script>
</body>
</html>