<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=  <div v-if="!joined" class="parent-container">
        <div class="name-container">
        <input type="text" class="user-name" v-model="currentUser">
        <button class="join-button" v-on:click="join">Join</button>
        
        <!-- rendering user name once they join the chat -->
       
     
     
        </div>
        </div>
        <!-- rendering welcome note once they join the chat -->
         <div class="welcome-note" v-if="joined">
         <h2>Welcome to the chat room, {{ currentUser }}!</h2>
         </div>
        </div>
     
        <!-- showing the avatar As per the user name -->
 <!-- showing the avatar As per the user name -->
 <div v-if="joined">
    <div v-if="currentUser" class="user-avatar"><div>
    <img :src="'images/' + currentUser + '.png'" alt="user avatar">
    </div>
</div>

    
</body>
</html>